body {
    font-size: 20px;
    background-color: rgb(230, 218, 218);
}

h1 {
    text-shadow: 3px 3px grey;
}

h2 {
    text-shadow: 2px 2px grey;
}

#header {
    border-bottom: black solid 0.5px;
    text-align: center;
}

#info {
    border-bottom: black solid 0.5px;
}

#about {
    border-bottom: black solid 0.5px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#career {
    text-align: center;
}

#profile {
    text-align: center;
    width: 700px;
}

#skills {
    text-align: center;
    width: 900px;
}

#education {
    margin-top: 50px;
    
}


.school {
    border: black dotted 1px;
    background-color: white;
}

#experience {
    margin-top: 50px;
}

#jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job {
    border-bottom: black solid 0.5px;
    width: 700px;
    padding: 20px;
}

#references {
    text-align: center;
    margin-top: 50px;
}

#people {
    justify-content: center;
}

.row {
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.person {
    border: black solid 0.5px;
    margin: 10px;
    background-color: white;
}

#links {
    text-align: center;
}

ul {
    text-align: left;
}




